/* Qt Cascading Style Sheet (qss) */


QDockWidget::title {
    background: palette(Mid);
    color: pallete(WindowText);
    text-align: center;
}

/*
QDockWidget::title:hover {
    background: red;
    border: 1px solid red;
    color: yellow;
}*/

BasePanel {
    padding: 5px;
}


QMainWindow::separator {
    background: black;
    width: 1px;
    height: 1px;
}


/*
QMainWindow::separator {
    background: palette(Midlight);
}

QMainWindow::separator:hover {
    background: palette(Mid);
}*/
/*
DockWidgetTitleBar {
    background: yellow;
    border: 1px solid black;
}*/
